<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.2.xsd
        http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd">

	<context:component-scan base-package="com.really" use-default-filters="false">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller" />
	</context:component-scan>
	
	<mvc:view-controller path="/welcome" view-name="welcome.jsp"/>
	
	<!-- 默认的注解映射的支持 -->
	<mvc:annotation-driven validator="validator">
		<mvc:message-converters>
			<bean class="com.really.util.MyJackson2HttpMessageConverter">
				<property name="objectMapper" ref="objectMapper"/>
				<property name="configs">
					<map>
						<entry key="currPage" value="1"  />
						<entry key="pageSize" value="15" />
						<entry key="sortColumn" value="" />
						<entry key="order" value="ASC" />
						<entry key="searchForm" value="{}" />
					</map>
				</property>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>
	
	<bean id="contentNegotiationManager" class="org.springframework.web.accept.ContentNegotiationManager">
		<constructor-arg>
			<array>
				<bean class="org.springframework.web.accept.HeaderContentNegotiationStrategy"/>
				<bean class="org.springframework.web.accept.PathExtensionContentNegotiationStrategy">
					<constructor-arg>
						<map>
							<entry key="xml" value="application/xml" />
							<entry key="json" value="application/json" />
							<entry key="html" value="text/html" />
							<entry key="htm" value="text/html" />
						</map>
					</constructor-arg>
				</bean>
			</array>
		</constructor-arg>
	</bean>
	
	<bean class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
		<property name="contentNegotiationManager" ref="contentNegotiationManager"/>
		<property name="viewResolvers">
			<list>
				<!-- <bean id="viewResolver" class="org.springframework.web.servlet.view.ResourceBundleViewResolver">
					<property name="basename" value="customViews"/>
					<property name="order" value="1"/>
				</bean>
				<bean class="org.springframework.web.servlet.view.BeanNameViewResolver">
					<property name="order" value="10"/>
				</bean> -->
				<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
			    	<property  name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
			        <property name="prefix" value="/WEB-INF/views/"/>
			        <property name="suffix" value=".jsp"/>
			        <property name="order" value="100"/>
			    </bean>
			</list>
		</property>
	</bean>
	
	<mvc:interceptors>
        <bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor" >
        	<property name="paramName" value="locale"/>
        </bean>
        <bean class="org.springframework.web.servlet.theme.ThemeChangeInterceptor" >
        	<property name="paramName" value="theme"/>
        </bean>
    </mvc:interceptors>
	
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="#{1024*1024*500}"/>
	</bean>
	
	<bean id="localeResolver" class="org.springframework.web.servlet.i18n.CookieLocaleResolver">
        <property name="cookieName"  value="SECFOX_CLIENT_LOCALE"/>
        <property name="defaultLocale" value="zh"/>
        <property name="cookieMaxAge" value="#{2*7*24*60*60}"/>
    </bean>
    
    <bean id="themeResolver" class="org.springframework.web.servlet.theme.CookieThemeResolver">
		<property name="defaultThemeName" value="default" />
		<property name="cookieMaxAge" value="#{2*7*24*60*60}" />
		<property name="cookieName" value="SECFOX_SOC_THEME" />
	</bean>
    
    <bean id="themeSource"	class="org.springframework.ui.context.support.ResourceBundleThemeSource">
		<property name="basenamePrefix" value="themes/" />
	</bean>
	
	<!-- Exception Handler -->
	<bean class="org.springframework.web.servlet.mvc.method.annotation.ExceptionHandlerExceptionResolver">
		<property name="order" value="1"/>
	</bean>
	
	<bean class="org.springframework.web.servlet.mvc.annotation.ResponseStatusExceptionResolver">
		<property name="order" value="2"/>
	</bean>
	
	<bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<property name="order" value="3"/>
		<property name="defaultErrorView">
			<value>errors/uncaught</value>
		</property>
		<property name="warnLogCategory" value="warn"/>
	</bean>
	
</beans>